// Variables

$primary-color: #443a8b;
$secondary-color: #ef5350;
$tertiary-color: #fe6192;
$accent-color-one: #2391ee;
$accent-color-two: #50efcb;
$text-color: #b2b1b8;
$lead-text-color: #b3b2b8;
$light-text-color: #ffffff;
$highlight-bg-color: #f7f7f7;
$contrast-color: #232227;
$line-color: #424242;
$line-color-vibrant: #ef5350;
$line-color-form: #2d2464;

$font: 'Montserrat', sans-serif;
$font-size: 1.6rem;
$font-secondary: 'Playfair Display', serif;

// Imports

@import 'partials/setup';
@import 'partials/mixins';
@import '../../node_modules/aos/dist/aos';
@import 'partials/globals';
@import 'partials/animations';
@import 'partials/header';
@import 'partials/bio';
@import 'partials/portfolio';
@import 'partials/skills';
@import 'partials/contact';
@import 'partials/footer';