// Variables

$primary-color: #443a8b;
$secondary-color: #fe6192;
$text-color: #b3b2b8;
$text-color-light: #ffffff;

$font: 'Montserrat', sans-serif;
$font-size: 1.6rem;
$font-secondary: 'Playfair Display', serif;

// Imports

@import 'partials/setup';
@import 'partials/globals';
@import 'partials/header';