/* BIO */

.bio-section {
    background: $highlight-bg-color;
    position: relative;
    
    // Creates angled bottom edge
    &::after {
        @include angledEdge(5deg, left bottom);
    }
    
    .section-heading {
        margin-top: 0;
        position: relative;

        h3,
        h4 {
            // Position on top of confetti
            z-index: 1;
        }

        // Pink triangle confetti
        &::before {
            @include confetti(331px, 333px, '../assets/pink-triangle.png');
            background-size: 70%;
            top: 0;
            left: 0;
        }
        
        // Purple washer confetti
        &::after {
            @include confetti(182px, 182px, '../assets/purple-washer.png');
            background-size: 70%;
            top: 80px;
            left: 20px;
        }

    }
}

.bio {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    // For confetti
    position: relative;

    // Dotted circle confetti
    &::before {
        @include confetti(772px, 772px, '../assets/grey-dotted-circle.png');
        top: 150px;
        left: -300px;
    }

    // Purple ring confetti
    &::after {
        @include confetti(81px, 81px, '../assets/purple-ring.png');
        bottom: -125px;
        right: -30px;
    }
}

.headshot,
.bio-text {
    width: 50%;
}

.headshot {
    position: relative;
    left: 30px;
}

.bio-text {
    font: {
        size: 1.8rem;
    }
    line-height: 1.67;
    padding: 3.2rem;
    background: $highlight-bg-color;
    position: relative;
    left: -30px;
    box-shadow: 10px 10px $primary-color;
    border: 1px solid rgba(0, 0, 0, 0.05);
}

.bio-lead {
    color: $contrast-color;
    font: {
        size: 3rem;
    }
    line-height: 1.77;
    margin-top: 0;
}

.bio-body {
    position: relative;

    &::before {
        display: block;
        content: '';
        height: 1px;
        width: 8.6rem;
        background: $line-color-vibrant;
        position: absolute;
        // Uncomment to place the red line on the photo exactly like in the design
        // left: (8.6rem + 2.8rem) * -1;
        top: -1.7rem;
    }
}

.social-links {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    font-size: 2.5rem;

    li {
        display: inline-block;
        margin: 0.5em 0;
    }
}