/* BIO */

.bio-section {
    background: $highlight-bg-color;
    position: relative;
    
    // Creates angled bottom edge
    &::after {
        @include angledEdge(5deg, left bottom);
    }
    
    .section-heading {
        margin-top: 0;
    }
}

.bio {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.headshot,
.bio-text {
    width: 50%;
}

.headshot {
    position: relative;
    left: 30px;
}

.bio-text {
    font: {
        size: 1.8rem;
    }
    line-height: 1.67;
    padding: 3.2rem;
    background: $highlight-bg-color;
    position: relative;
    left: -30px;
    box-shadow: 10px 10px $primary-color;
    border: 1px solid rgba(0, 0, 0, 0.05);
}

.bio-lead {
    color: $contrast-color;
    font: {
        size: 3rem;
    }
    line-height: 1.77;
    margin-top: 0;
}

.bio-body {
    position: relative;

    &::before {
        display: block;
        content: '';
        height: 1px;
        width: 8.6rem;
        background: $line-color-vibrant;
        position: absolute;
        // Uncomment to place the red line on the photo exactly like in the design
        // left: (8.6rem + 2.8rem) * -1;
        top: -1.7rem;
    }
}

.social-links {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    li {
        display: inline-block;
        margin: 0.5em 0;
    }
}