/* FOOTER */

footer {
    background: $primary-color;
    color: $line-color-form;
    padding: 1.6rem 0;
    text-align: center;

    p {
        margin: 1em 0;
        line-height: 1.67;
        font: {
            size: 1.8rem;
        }
    }

    .fineprint {
        font: {
            size: 1.2rem;
        }
    }
}
