/* HEADER */

header {
    background: $primary-color;
    color: $light-text-color;
    height: 100vh;
    position: relative;
    z-index: 10;

    .wrapper {
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
    }

    p {
        margin: 0;
    }

    h1,
    h2 {
        margin: 0;
    }

    // Creates an ::after element for the edge
    &::after {
        @include angledEdge(-5deg, right bottom);
    }
}

.logo {
    background: $secondary-color;
    padding: 0 0.7em;
    transform: skewX(-40deg);
    
    a {
        display: block;
        font: {
            size: 3rem;
            weight: 700;
        }
        text-transform: uppercase;
        line-height: 0.4;
        color: $light-text-color;
        text-decoration: none;
        transform: skewX(40deg);
    }
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;

    ul {
        margin: 0;
        padding: 0;
    }
    
    ul,
    li {
        display: inline-block;
        margin: 0 1.6rem;
    }
}

.main-nav-links {
    
    a {
        font-size: 2rem;
        color: $light-text-color;
        text-decoration: none;
        
        &:hover,
        &:focus {
            color: $secondary-color;
        }
    }
}

.hero-text {
    transform: rotate(-0.25turn);
    align-self: center;
    padding-left: 250px;
}

.site-title {
    font: {
        size: 10.4rem;
        weight: 700;
    }
    line-height: 0.85;
    text-transform: uppercase;
    
    .last-name {
        font-size: 17.2rem;
    }
}

.site-tagline {
    color: $secondary-color;
    font: {
        size: 2.98rem;
        weight: 400;
    }
}