/* HEADER */

header {
    background: $primary-color;
    color: $light-text-color;
    height: 100vh;
    position: relative;
    z-index: 10;

    .wrapper {
        height: 100%;
        position: relative;
    }

    p {
        margin: 0;
    }

    h1,
    h2 {
        margin: 0;
    }

    // Creates an ::after element for the edge
    &::after {
        @include angledEdge(-5deg, right bottom);
    }

    // Fix display on mobile devices in landscape orientation
    @media (max-height: 500px) and (orientation: landscape) {
        height: 120vh;
    }
}

.logo {
    background: $secondary-color;
    padding: 0 0.7em;
    transform: skewX(-40deg);
    transition: background-color 0.3s ease;
    z-index: 20;
    
    &:hover {
        background-color: $accent-color-one;
    }

    // Change background when nav is active
    &.nav-active {
        background-color: $primary-color;
    }
    
    a {
        display: block;
        font: {
            size: 3rem;
            weight: 700;
        }
        text-transform: uppercase;
        line-height: 0.4;
        color: $light-text-color;
        text-decoration: none;
        transform: skewX(40deg);
    }
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;

    // Change layout for mobile nav
    @media (max-width: 768px) {
        flex-flow: column nowrap;
        align-items: flex-start;
        padding-top: 30px;
    }
}

.main-nav-links {
    margin: 0;
    padding: 0;

    li {
        display: inline-block;
        margin: 0 1.6rem;
    }

    a {
        font-size: 2rem;
        color: $light-text-color;
        text-decoration: none;
        
        &:hover,
        &:focus {
            color: $accent-color-two;

            // Change link focus color for mobile
            @media (max-width: 768px) {
                color: $primary-color;
            }
        }
    }

    // Set up the mobile nav (rotated offscreen)
    @media (max-width: 768px) {
        opacity: 0;
        background: $secondary-color;
        align-self: center;
        width: 100%;
        padding: 66px 0 0 0;
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        transform-origin: left top;
        transform: rotate(-90deg);
        transition: transform 0.3s, opacity 0.3s;

        li {
            display: block;
            padding: 0.8rem 0;
        }

        &::after {
            @include angledEdge(-5deg);
        }
    }

    // For mobile nav transition
    &.nav-active {
        opacity: 1;
        transform: initial;
    }
}

// The mobile nav toggle
.nav-toggle {
    display: none;
    position: absolute;
    top: 20px;
    right: 36px;
    font-size: 1.3em;
    z-index: 20;

    @media (max-width: 768px) {
        display: block;
    }
}

.hero-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-0.25turn);

    // Fix display on mobile devices in landscape orientation
    @media (max-height: 500px) and (orientation: landscape) {
        transform: translate(-50%, -50%) rotate(0) scale(0.8);
        text-align: center;
    }
}

.site-title {
    position: relative; // For confetti
    font: {
        size: 10.4rem;
        weight: 700;
    }
    line-height: 0.85;
    text-transform: uppercase;
    
    .last-name {
        font-size: 17.2rem;
    }

    @media (min-width: 800px) {
        // Pink squiggle confetti
        &::before {
            @include confetti(65px, 92px, '../assets/pink-squiggle.png');
            top: -18rem;
            left: 30%;
            transform: rotate(0.25turn);
            animation: shake 3s linear 0s infinite;
        }
    }

    @media (max-width: 430px) {
        font-size: 10rem;

        .last-name {
            font-size: 14rem;
        }
    }
}

.site-tagline {
    position: relative; // For confetti
    color: $tertiary-color;
    font: {
        size: 2.98rem;
        weight: 400;
    }

    @media (min-width: 800px) {
        // Blue wave confetti
        &::before {
            @include confetti(68px, 108px, '../assets/blue-wave.png');
            top: 20rem;
            left: 70%;
            transform: rotate(0.25turn);
            animation: pulse 5s linear 1s infinite;
        }
    
        // Green arrow confetti
        &::after {
            @include confetti(68px, 56px, '../assets/green-arrow-wavy.png');

            transform: rotate(0.25turn);
            top: 11rem;
            left: 10%;
            animation: spin 8s linear 2s infinite;
        }
    }

    @media (max-width: 430px) {
        font-size: 2rem;
    }
}