// Mixins

@mixin angledEdge($angle: -5deg, $origin: right bottom, $top: initial, $bottom: 0) {
    display: block;
    content: '';
    height: 50%;
    background: inherit;
    transform: skewY($angle);
    transform-origin: $origin;
    position: absolute;
    bottom: $bottom;
    top: $top;
    width: 100%;
    // Place behind the parent text in the current stacking context
    z-index: -1;
}

@mixin confetti($height: 65px, $width: 92px, $path: '../assets/pink-squiggle.png') {
    display: block;
    content: '';
    height: $height;
    width: $width;
    background: url($path) no-repeat;
    position: absolute;
}