/* PORTFOLIO */

.portfolio-section {
    // For confetti - make sure grey square doesn't overflow the container
    position: relative;
    overflow: hidden;

    // Gray dotted square
    &::before {
        @include confetti(564px, 564px, '../assets/grey-dotted-square.png');
        top: 400px;
        right: -150px;
        z-index: -1;
    }

    // Another gray dotted square
    &::after {
        @include confetti(564px, 564px, '../assets/grey-dotted-square.png');
        bottom: 160px;
        left: -150px;
        z-index: -1;
    }
}

.project {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    text-align: right;
    margin-bottom: 100px;

    @media (min-width: 927px) {
        // For every second project, visually flip content
        &:nth-child(2n) {
            text-align: left;
    
            .project-technologies {
                justify-content: flex-start;
            }
    
            .project-image {
                order: -1;
            }
        }
    }

    @media (max-width: 926px) {
        flex-flow: column nowrap;
        text-align: center;

        // Display all images first
        .project-image {
            order: -1;
        }
    }
}

.project-description {
    width: 40%;
    margin: 0 2.4rem;
    // background: rgba(255, 255, 255, 1);
    // border: 1px solid rgba(0, 0, 0, 0.05);
    // box-shadow: 6px 6px $primary-color;
    // padding: 1.6rem 3.2rem;
    @media (max-width: 1026px) {
        width: 50%;
    }

    @media (max-width: 926px) {
        width: 75%;
    }
    
    @media (max-width: 580px) {
        width: 100%;
    }
}

.project-lead {
    color: $contrast-color;
}

.project-technologies {
    color: $primary-color;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;

    p {
        text-transform: uppercase;
        margin-right: 0.5em;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: 4rem;
    }

    li {
        display: inline-block;
        margin: 0 0.3em;

        &:last-child {
            margin-right: 0;
        }
    }

    @media (max-width: 926px) {
        justify-content: center;
    }

    @media (max-width: 430px) {
        flex-flow: column nowrap;

        ul {
            font-size: 3.7rem;
        }

        p {
            margin: 0;
        }

        li:last-child {
            margin-right: 0.3em;
        }
    }
}

.project-links {
    font-size: 2.5rem;

    a {
        display: block;
        margin: 0.64em 0;
    }
}

.project-image {
    width: 50%;
    margin: 0 2.4rem;

    @media (max-width: 1026px) {
        width: 40%;
    }

    @media (max-width: 926px) {
        width: 75%;
        margin-bottom: 1.6rem;
    }
    
    @media (max-width: 580px) {
        width: 100%;
    }
}