/* PORTFOLIO */

.portfolio-section {
    // For confetti - make sure grey square doesn't overflow the container
    position: relative;
    overflow: hidden;

    // Gray dotted square
    &::before {
        @include confetti(564px, 564px, '../assets/grey-dotted-square.png');
        top: 400px;
        right: -150px;
        z-index: -1;
    }

    // Another gray dotted square
    &::after {
        @include confetti(564px, 564px, '../assets/grey-dotted-square.png');
        bottom: 160px;
        left: -150px;
        z-index: -1;
    }
}

.project {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    text-align: right;
    margin-bottom: 100px;

    // For every second project, visually flip content
    &:nth-last-child(2n+1) {
        text-align: left;

        .project-image {
            order: -1;
        }
    }
}

.project-description {
    width: 30%;
    margin: 0 2.4rem;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 6px 6px $primary-color;
    padding: 1.6rem 3.2rem;
}

.project-links {
    font-size: 2.5rem;

    a {
        display: block;
        margin: 0.64em 0;
    }
}

.project-image {
    width: 50%;
    margin: 0 2.4rem;
}